.tab {
    width: 400px
}

.tab .tab-nav {
    height: 30px
}

.tab .tab-nav li {
    float: left;
    margin-right: 5px;
    background: #767676;
    border-radius: 3px 3px 0 0
}

.tab .tab-nav li a {
    display: block;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}

.tab .tab-nav li.actived {
    background-color: #fff;
}

.tab .tab-nav li.actived a {
    color: #777;
}

.tab .content-wrap {
    background: #fff;
    padding: 5px;
    height: 500px;
    width: 800px
}

.tab .content-wrap .content-item {
    position: absolute;
    height: 500px;
    width: 800px;
    display: none;
}

.tab .content-wrap .current {
    display: block
}